<h2>Sign up for my newsletter!</h2>




<% if cookies[:saved_lead] %>
    Thanks for signing up!
<% else %>
    <%= form_for @leads do |f| %>
        <%= f.text_field :name, placeholder: "name" %>
        <%= f.email_field :email, placeholder: "email" %>
        <%= f.select :device, ["iPhone", "Android"], prompt: "Choose Your Device" %>
        <%= f.country_select :country %>
        <%= f.submit %>
    <% end %>

<% end %>


