<h2>Our listing</h2>

<table>
  <tr>
    <th>Name:</th>
    <th>Email:</th>
    <th>Device</th>
    <th>Country</th>
  </tr>
  <%  @leads.each  do |lead| %>
     <tr>
       <td><%=  lead.name %></td>
       <td><%=  lead.email %></td>
       <td> <%=  lead.device %></td>
       <td> <%=  lead.country %></td>




     </tr>

  <% end %>
</table>

<%= link_to 'Back', root_path %>