<!DOCTYPE html>
<html>
<head>
  <title>SimpleNewsletters</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="container">
  <% if notice %>
      <%= notice %>
  <% end %>
  <% if alert %>
      <%= alert %>
  <% end %>
  <%= yield %>
</div>


</body>
</html>
